@import "~antd/dist/antd.css";

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.login-form {
  margin-top: 1.7rem;
  width: 100%;
}

.login-form-button {
  width: 100%;
  margin-bottom: 1rem;
}

.login-form-forgot {
  float: right;
}

.site-page-header {
  margin-left: 1rem;
  padding-top: 2rem;
}

.site-page-header span {
  font-size: 1.7rem;
}

.ant-picker-calendar-header {
  justify-content: flex-start;
}
